<div class="container">
    <form>
        <div class=" view1 ">
            <div class="col-md-4" *ngIf=" dress ">
                <img src="{{dress.img}}" class="card-img-top img" alt="no image">
            </div>
            <div id="data" class=" col-md-8 container txt "*ngIf=" dress " >
                <div class="name">
                    <label> {{dress.name}}</label><br>
                </div>
                <div class="pc">
                    <label> Product Code:&nbsp; &nbsp; Moss </label>
                </div>
                <div>
                    <label> Availability :&nbsp; &nbsp; In Stock </label>
                </div>
                <div class="price">
                    <label>Rs: {{dress.Rs}}</label><br>
                </div>
                <div class="btn1" >
                    <button (click)="addtocart(dress)" class="btn btn-primary">ADD TO CART</button>
                </div>
                
                <div class="btn1">
                    <button routerLink="" class="btn btn-primary">Close</button>
                </div>
               
            </div>
            
        </div>
        
    </form>
</div>
